﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http

@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <p>Register a new Asp.net Membership User using Asp.net Core Identity API:</p>
    <div class="col-md-4">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserLogin"></label>
                    <input asp-for="UserLogin" class="form-control" />
                    <span asp-validation-for="UserLogin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PasswordQuestion"></label>
                    <input asp-for="PasswordQuestion" class="form-control" />
                    <span asp-validation-for="PasswordQuestion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PasswordAnswer"></label>
                    <input asp-for="PasswordAnswer" class="form-control" />
                    <span asp-validation-for="PasswordAnswer" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}